ul {
  list-style: none;
}

.list-group {
  margin-top: 100px;
}

.list-group-item {
  border: none;
  display: inline-block;
  width: 100%;
  font-family: default;
  font-size: 16px;
  /* primary colour */
  background-color: #B6D7C8;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer;
}

button.btn.btn-block {
  font-size: 18px;
  padding: 2px 4px;
}

html,
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* .modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

*/
