/*
Colors used:
Background Color: #003A70;
Secondary color: #FFCB05;
*/

:root {
  --background-color: #003a70;
  --secondary-color: #ffcb05;
}

html,
body {
  font-family: Arial, sans-serif;
  text-align: center;
  /* background color */
  background-color: var(--background-color);
}

.navbar {
  font-size: 30px;
  /* background color */
  background-color: var(--background-color);
}

a {
  /* secondary color */
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

.header {
  overflow: hidden;
}

.header .search-container {
  float: right;
}

.header input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .header .search-container {
    float: none;
  }
  .topnav input[type='text'],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type='text'] {
    border: 1px solid #ccc;
  }
}

.container {
  margin-top: 100px;
}

.pokemon-list__container {
  border: none;
  display: inline-block;
  width: 100%;
  font-family: default;
  font-size: 16px;
  /* secondary color */
  background-color: var(--secondary-color);
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer;
}

button.btn.btn-block {
  font-size: 18px;
  padding: 2px 4px;
}
